@page
@model BakeryASP.Pages.Bakery.AddSandwich

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<div class="container w-50">
    <h1>Add a sandwich to the system.</h1>
    <form method="post">
        <div class="mb-3">
            <placeholder asp-for="Name" class="form-check-label">Name</placeholder>
            <input placeholder="name" type="text" asp-for="Name" class="form-control"/>
        </div>
        <div class="mb-3">
            <placeholder asp-for="Bread" class="form-check-label">Bread Type</placeholder>
            <select class="form-select" asp-for="Bread">
                <option>test</option>
            </select>
        </div>
    </form>
</div>