@page
@model BakeryASP.Pages.Bakery.AddSandwich

@{
    ViewData["title"] = "Add Sandwich";
    Layout = "_Layout";
}

<div class="container w-50">
    <h1>Add a sandwich to the system.</h1>
    <form method="post">
        <div class="mb-3">
            <x:placeholder asp-for="Name" class="form-check-label">Name</x:placeholder>
            <x:input placeholder="name" asp-for="Name" class="form-control"/>
            <x:span asp-validation-for="Name"></x:span>
        </div>
        <div class="mb-3">
            <x:placeholder asp-for="Price" class="form-check-label">Price</X:placeholder>
            <x:input asp-for="Price" class="form-control" type="number" step="0.05"/>
            <x:span asp-validation-for="Price"></x:span>
        </div>
        <div class="mb-3">
            <x:placeholder asp-for="Bread" class="form-check-label">Bread</x:placeholder>
            <x:select class="form-select" asp-for="Bread" asp-items="Model.AvailableBreads"></x:select>
            <x:span asp-validation-for="Bread"></x:span>
        </div>
        <div class="mb-3 row">
            @foreach (var ingredient in Model.Ingredients)
            {
                <div>
                    <input type="checkbox" id="@ingredient.Name" name="IngredientList" class="form-check-input" value="@ingredient.Name" />
                    <label for="@ingredient.Name" class="form-check-label">@ingredient.Name</label>
                </div>
            }
            <x:span asp-validation-for="Ingredients"></x:span>
        </div>
        <div>
            <input type="submit" value="Add" class="btn btn-primary"/>
            <x:a asp-page="/Bakery/Index" class="link-danger">Cancel</x:a>
        </div>
    </form>
</div>