@page
@model BakeryASP.Pages.Bakery.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>@Model.Title</h1>
    <form method="POST">
        <input name="textInput" placeholder="Your test..." />
        <input type="submit" />
    </form>
</div>
</body>
</html>