<!DOCTYPE html>

<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
<div>
    <main>
        @RenderBody();
    </main>
</div>
</body>
</html>