<!DOCTYPE html>

<html lang="EN">
<head>
    <title>@ViewData["Title"]</title>
    <x:link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <x:link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<div>
    <main>
        @RenderBody()
    </main>
</div>
<x:script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></x:script>
<x:script src="~/js/site.js"></x:script>
</body>
</html>